body{
    background-image: url(./pexels-photo-1484516.jpeg);  
    background-repeat: no-repeat;
    background-size: cover;
      color: aliceblue;
    margin: 0;
}
h1{
    text-align: center;
}

h1:hover{
    background-color:  lightgreen;
    color: darkcyan;
}

.Contact
{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p:hover{
text-decoration: underline;
}
video{
    margin: 50px;
    border: 1px solid white;
    margin-left: 300px;
}